.hero
  a(href="reviews/weedheart")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 The Holy Body Tattoo's
            h1 #[i monumental]
            h6 A Review by Devon Caranicas