.hero
  a(href="reviews/portraitofmyselfasmy")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Nora Chipaumire's
            h1 #[i Portrait of Myself as My #[s Father]]
            h6 A Review by Janet Oh