.hero
  a(href="reviews/eyeslooking")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Tim Etchells'
            h1 #[i Eyes Looking]
            h2 A Review by Mars Dietz