.hero
  a(href="reviews/staged")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Maria Hassabi's
            h1 #[i STAGED]
            h2 A Review by Lydia Mokdessi