.hero  
  section(class="hero-banner")
    .hero-banner-image
    .hero-banner-text
      .hero-banner-text-table
        .hero-banner-text-table-cell
          h2 Jill Sigman's Weed Heart
          h5 Lorem Ipsum subtitle goes here
          h6 A Review by Mars Dietz