.hero
  a(href="reviews/weedheart")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Jill Sigman's
            h1 #[i Weed Heart]
            h6 A Review by Mars Dietz