.hero
  a(href="reviews/intow")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Jennifer Monson/iLAND's
            h1 #[i in tow]
            h6 A Review by Angela Brown