.hero
  a(href="reviews/portraitofmyselfasmy")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Nora Chipaumire 
            h1 #[i portrait of myself as my #[s father]]
            h6 A Review by Janet Oh