.hero
  a(href="reviews/fearinporcelain")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Sam Kim's
            h1 #[i Fear in Porcelain]
            h2 A Review by Janet Oh