.hero
  a(href="reviews/monchichi")
    section(class="hero-banner")
      .hero-banner-image
      .hero-banner-text
        .hero-banner-text-table
          .hero-banner-text-table-cell
            h1 Company Wang Ramirez's 
            h1 #[i Monchichi]
            h2 A Review by Cameron McKinney