section.subscribe 
  p Get beautiful emails about upcoming performances and new Routine content. 
  #mc_embed_signup
    form(action="//routinemagazine.us14.list-manage.com/subscribe/post?u=98eee397f8723c9689cf4a1ea&amp;id=35a7b1a764" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
      a(name="subscribe" id="mc_embed_signup_scroll")
        .row.flex-start
          input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required)
          input(type="submit" value="Get Routine Mail" name="subscribe" id="mc-embedded-subscribe" class="button")
