node_modules/
npm-debug.log
images/
img/
fonts/
*.sass-cache
*.css.map
*.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
example.js
.env
.ebignore
.ebextensions