doctype html
html  
  head
    block title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='development/scripts/script.js')
    link(rel='stylesheet', href='assets/css/styles.css')
  body
    .brand-title Routine
    .brand-image
      img(class="brand-logo" src="assets/images/chair.svg")
    .stage
      .stage__item
        .row
          h6 #[span review]
        .row
          img(src='assets/images/rainer-conceptofdust.jpg')
          img(src='assets/images/rainer-conceptofdust-6.jpg')
          img(src='assets/images/rainer-conceptofdust-8.jpg')
        h1 Dust Over Everything: Yvonne Rainer's #[span The Concept of Dust]
        p In the face of death, Yvonne continues to peform
        h5 #[span June 18th | By Maria Chounard]
      .stage__item
        h6 review
        .row
          img(src='assets/images/rainer-conceptofdust.jpg')
          img(src='assets/images/rainer-conceptofdust-6.jpg')
          img(src='assets/images/rainer-conceptofdust-8.jpg')
        h1 Dust Over Everything: Yvonne Rainer's #[span The Concept of Dust]
        p In the face of death, Yvonne continues to peform
        
        
      
           