extends index-template 
block title    
  title Routine Magazine  
 
//block stageItems
//  .stage__item--1
//    a(href="reviews/rainer-tcod.html")
//    .stage__item__title
//      h6 Review
//      h1 Brian Brooks    
//      h2 Wilderness
//      p In the face of death, Yvonne continues to peform
//  .stage__item--2
//    a(href="reviews/brooks-wilderness.html")
//    .stage__item__title
//      h6 Review  
//      h1 Brian Brooks 
//      h2 Wilderness
//      p Wild Wild contact                