doctype html
html
  head
    block title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='../development/scripts/script.js')
    link(rel='stylesheet', href='../assets/css/styles.css')
  body(class="body-review")
    .brand-title
      a(href="index.html") Routine
    .stage
      .stage__text
        .stage__text__title
          block stageTitle
        .stage__text__image--main
          block stageImageMain
        block stageText
           