doctype html 
html  
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width,initial-scale=1')
    block title
    meta(name="google-site-verification" content="spK5BOUdQKtQM21L3cMYxQvEv44c2YQikpAwXCWiTO0")
    link(rel='stylesheet', href='css/styles.css')
  body(class="body-about")
    include includes/nav.jade
    .stage
      h1(class="about-titles") About
      p Routine is an online space for dance and performance, publishing weekly reviews on dance events in NYC. Through critical writing that attends to the afterlives of performance events, Routine responds to the cultural imperative of perfomance, choreography, and the labor of dance makers. 
      p Get involved with our growth by #[a(href="#newsletter") subscribing to our newsletter], connecting with our #[a(href="#social") socials], #[a(href="#submissions") submitting writing], and #[a(href="#contact") chatting us up]. 
      h2(id="newsletter") Newsletter
      p A kind of movement practice in own right, Routine takes email seriously. Subscribe to get updates on new Routine content and upcoming NYC performances, sent out as a curated list, every Thursday. 
      #mc_embed_signup
          form(action="//routinemagazine.us14.list-manage.com/subscribe/post?u=98eee397f8723c9689cf4a1ea&amp;id=35a7b1a764" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
            a(name="subscribe" id="mc_embed_signup_scroll")
              .row.center
                input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required)
                input(type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button")
      h2(id="social") Social
      p As part of our mission to promote dance literacy, we use social media to routinely share snippets of performance writing that #[i moves] us. 
      p(style="text-align:center;padding-top:15px")
        a(href="https://www.facebook.com/routinemagazine" class="facebook")
          img(src="https://s3.amazonaws.com/assets.routinemagazine.com/img/facebook-logo.png")
        a(href="https://twitter.com/routinemag" class="twitter")
          img(src="http://assets.routinemagazine.com/img/twitter-logo.png")
      h2(id="submissions") Submissions
      p From dancers, dance makers, and witnesses of dance, Routine is currently accepting writing on performance events and performance culture. Accepted submissions are compensated and published online under Routine's banner. #[a(href="mailto:hello@routinemagazine.com") Inquire] to submit. 
      h2(id="contact") Contact
      p Send us mail at #[a(href="mailto:hello@routinemagazine.com") hello@routinemagazine.com]
      
    include includes/footer.jade
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='js/jquery.unveil.js') 
    script(type='text/javascript', src='js/script.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-76168666-2', 'auto');
      ga('send', 'pageview');              