.body-contributor {
  .stage {
    h1 {
      font-family: labmono;
      color: $light-black;
    }
    p {
      font-family: tiempos-reg;
      width: 60%;
      display: inline-block;
      color: $black;
    }
  }
}