.body-contributor {
  .stage {
    h1 {
      font-family: labmono;
      color: $light-black;
      text-align: center;
      padding: 50px 0 0;
      margin: 0;
    }
    p {
      font-family: tiempos-reg;
      display: inline-block;
      color:$light-black;
      padding: 40px 100px 35px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.5;
      @media (max-width: 750px) {
        padding: 40px 50px 35px;
      }
      @media (max-width: $mobile-break) {
        padding: 40px 20px 35px;
      }
      font-size: 16px;
      a {
        color: red;
        text-decoration: none;
      }
    }
    
    h2 {
      font-family: labmono;
      text-align: center;
      color: $light-black;
    }
    .stage__item {
      padding: 40px 100px 35px;
      @media (max-width: 750px) {
        padding: 40px 50px 35px;
      }
      @media (max-width: $mobile-break) {
        padding: 40px 20px 35px;
      }
    }
    
    hr {
      box-sizing: border-box;
      position: relative;
      border: 0;
      border-top: 1px solid #f4f5f6;
      margin: 20px 100px;
    }
  }
}