//$pink: 	#FF0033;

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav {
  z-index: 6;
  position: fixed;
  top: 9px;
  left: 50px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ff1b00;
  width: calc(100% - 100px);
  
  @media (max-width: 550px) {
    left: 30px;
    width: calc(100% - 60px);
  }
  @media (max-width: 414px) {
    left: 15px;
    width: calc(100% - 30px);
  }
  
  .brand__items {
//    @media (max-width: $tablet-break) {
//      width: 100%;
//    }
    .brand-logo {
      text-align: center;
      font-family: ceremony;
      text-transform: uppercase;
      font-size: 2.5rem;
      cursor: pointer;
      color: $primary-color;
      text-decoration: none;
      display: inline-block;
//      @media (max-width: $tablet-break) {
//        width: 100%;
//      }
    }
  }
  
  
  &__items {
    align-self: center;
    padding-top: 12px;


    a {
      cursor: pointer;
      float: right;
      display: inline-block;
      font-family: labmono;
      text-transform: uppercase;
      color: $primary-color;
//      color: $black;
      text-decoration: none;
      padding-left: 45px;

      @media (max-width: $mobile-break) {
        display: none;
      }
    }
  }
}



.stage {
  width: calc(100vw - 230px);
  margin: 0 auto;
  overflow: visible;
  padding: 70px 0;
  @media (max-width: 1000px) {
    width: calc(100vw - 150px);
  }
  @media (max-width: $tablet-break) {
    width: calc(100vw - 100px);
  }
  @media (max-width: $mobile-break) {
  }
  @media (max-width: 550px) {
    width: calc(100vw - 60px);
  }
  @media (max-width: 414px) {
    width: calc(100vw - 30px);
  }

  &-nav {
    display: block;
    background: white;
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    margin: 0;

    @media (max-width: 550px) {
//          margin: 0 30px;
//          width: calc(100vw - 60px);
    }
    @media (max-width: 414px) {
//          margin: 0 15px;
//          width: calc(100vw - 30px);
    }
  }  
 
    
  
  &__item {
    
    & {
      padding: 40px 0 35px 0 ;
      text-align: center;
      @media (max-width: $mobile-break) {
        padding: 20px 0 35px 0 ;
      }
    }

    .row {
      position: relative;
    }
    
    .genre {
      position: absolute;
      right: 0;
    }
    
    img {
      width: calc(33.33% - 7px);
      padding: 0 5px;
      
      transition: all .3s ease;
      &.lazyload {
        opacity:0;
        width: 300px;
        height: 200px;
        transition: all .3s ease;
        text-align: center;
      }
      &.lazyloaded {
        opacity:1;
        transition: all .3s ease;
      }
      &.first {
        padding-left: 0;
        @media (max-width: $tablet-break) {
          width: calc(50% - 5px);
        }
        @media (max-width: $mobile-break) {
          width: 100%;
          padding-right: none;
        }
      }
      
      &.middle {
        @media (max-width: $tablet-break) {
          width: calc(50% - 5px);
          padding-right: 0;
        }
        @media (max-width: $mobile-break) {
          display: none;
        }
      }
      
      &.last {
        padding-right: 0;
        
        @media (max-width: $tablet-break) {
          display: none;
        }
      }
      
    }
    
    a {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      white-space: nowrap;
    }
    
    .article-images:hover + .stage__item__text {
      h2 {
        color: $primary-color;
      }
    }
    
    &__text {
      text-align: center;
      padding-top: 13px;
      white-space: normal;
      
      h4 {
        font-size: 10px;
        font-family: Arial;
        color: #666;
        text-transform: uppercase;
         
        span {
          font-family: Ceremony;
          color: $primary-color;
          font-size: 5px;
          top: 0;
          padding-bottom: 2px;
          font-style: normal;
        }
        
        a {
          border-bottom: 1px solid #999;
          padding-bottom: 1px;
          color: #666;
          &:hover {
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
          }
        }
      }
      
      h5 {
        font-family: tiempos-reg;
      }
    }
    
    h6 {
      text-align: right;
      font-family: labmono;
      font-size: 14px;
      font-weight: 100;
      text-transform: uppercase;
      padding-bottom: 10px;
      line-height: .8;
      letter-spacing: 5px;
      margin: 0;
      
      span {
            font-family: Ceremony;
            color: $primary-color;
            font-size: 5px;
            top: 0;
            margin-left: 3px;
            font-style: normal;
      }
    }
    
    h5 {
      margin: 0;
      font-family: labmono;
      color: #666;
      font-size: 13px;
      font-weight: 100;
      padding-top: 2px;
      
      span {
        color: $primary-color;
        font-style: normal;
      }
    }
    
    h2 {
      font-weight: 100;
      font-size:24px;
      white-space: normal;
      margin: 0;
      color: $black;
      font-family: tiempos-reg;
      
      @media (max-width: 400px) {
        font-size: 20px;
      }
      span {
        white-space: pre;
        font-weight: 100;
        font-style: italic;
      }
      
      &:hover {
        color: $primary-color !important;
      }
    }
    
    p {
      padding: 1px 0 5px 8px;
      font-size: 14px;
    }
  }
  
//  &__item__title {
//    
//    & {
//      display: inline-block;
//      position: absolute;
//      width: auto;
//      height: auto;
//      background: $white;
//      padding: 15px;
//      right: 20px;
//      bottom: 50px;
//    }
//    
//    h6 {
//      text-align: right;
//      font-family: labmono;
//      font-size: 12px;
//      text-transform: uppercase;
//    }
//    h2 {
//      font-weight: 100;
//      font-size:24px;
//      margin: 0;
//    }
//    h2 {
//      white-space: pre;
//      font-weight: 100;
//      font-style: italic;
//      font-size: 18px;
//    }
//    p {
//      padding: 10px 0 0 0;
//    }
//  }

}

.footer {
  
  & {
    margin: 0px 50px 5%;
    @media (max-width: 1250px) {
      margin-bottom: 6%
    } 
    @media (max-width: 1000px) {
      margin-bottom: 7%
    } 
    @media (max-width: $tablet-break) {
      margin-bottom: 7%
    } 
    @media (max-width: $mobile-break) {
      margin-bottom: 5%
    }
    @media (max-width: 550px) {
      margin: 0px 30px 5%;
    }
    @media (max-width: 414px) {
      margin: 0px 15px 5%;
    }
  }
  
  &::before {
    content:'';
    display: block;
    background: white;
    width: 100%;
    border-top: 2px solid $primary-color;
    bottom: 0;
    left: 0;
    z-index: 4;
    margin-bottom: 20px;
  }
  
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
    
    .brand-footer {
      color: $primary-color;
      font-size: 2.5rem;
      font-family: Ceremony;
      text-decoration: none;
      cursor: pointer;
      
      @media (max-width: $mobile-break) {
        display: none;
      }
    }
    
    p {
      color: $black;
      font-family: labmono;
      font-size: 18px;
      
      span {
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 1.8px;
        color: #111!important;
        line-height: 1;
      }
    }
    
    @media (max-width: $mobile-break) {
      flex-direction: column;
    } 
  }
  
  .column {
      justify-content: flex-start;
      margin: 10px 0;
      
      p {
        color: $light-black;
        text-decoration: none;
        font-family: tiempos-reg;
        font-size: 18px;
        width: 100%;
        margin: 20px 0 20px 0;
        line-height:1.6;
        
        span {
          font-weight: 100;
          font-size: 2rem;
          letter-spacing: 1.8px;
          color: $primary-color!important;
          line-height: 1;
          font-family: ceremony;
          position: relative;
          top: 3px;
        }
        
        a {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  
  .footer-bottom {
    & {
      border-top: 1px dotted #d3d3d3;  
    }
    
    .column {
      &:first-child {
        width: 50%;
      }
      &:nth-child(2), &:nth-child(3) {
        width: 20%;
      }
      &:nth-child(4) {
        width: 10%
      }
      @media (max-width: $mobile-break) {
        width: 100% !important;
        text-align:center;
      }
      
      a {
        &:hover {
          color: $primary-color;
        }
        @media (max-width: $mobile-break) {
        display: inline-block;
        text-align:center;
          padding: 0 10px;
      }
      }
    }
    
    
  }
  
  .footer-nav {
    & {
      padding-top: 20px;
    }
    
    a {
      text-decoration: none;
      color: #a8a8a8;
      display: block;
      text-align: right;
      font-family: labmono;
    }
    
    .facebook, .twitter {
      img {
        width: 30px;
      }
    }
  }
  
  .footer-mission {
    font-family: tiempos-reg;
    position: relative;
  }
  
  .subscribe {
    
    & {
      padding-top: 25px;
    }
    #mc_embed_signup {
      padding: 20px 30px 0;
    }
    font-family: labmono;
    h1 {
      text-transform: uppercase;
      color: white;
      display: inline-block;
      mix-blend-mode: difference;
      font-size: 2rem;
      margin: 0;
    }
    
    p {
      margin: 0;
      font-family: tiempos-reg;
      text-align: center;
    }
    
    .subscribe-des {
      font-size: 20px;
      font-family:  tiempos-italic;
      color: $light-black;
    }
    
    input.email {
      -webkit-appearance: none;
      font-family: labmono;
      font-size: .875em;
      padding: 10px 35px 9px 5px;
      border:0;
      border-bottom: 1px solid rgba(255,0,0,.7);
      outline: none;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      margin: 0 15px 0 0;
      width: 100%;
      border-radius: 0;
      &:focus {
        border:0;
        border-bottom: 2px solid rgba(255,0,0,.7);
        &::placeholder {
          color: white;
        }
      }
      
      &::placeholder {
        color: #a8a8a8;
      }
      
      @media (max-width: $mobile-break) {
        margin: 0 0 15px 0;
        width: 100%;
        box-sizing: border-box;
      }

    }
    
    input.button {
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
      font-family: labmono;
      color: $primary-color;
      padding: 10px 35px;
      background: transparent;
      border: 1px solid rgba(255,0,0,.7);
      font-size: .875em;
      transition: all .3s ease;
      &:hover {
        transition: all .3s ease;
        background:  $primary-color;
        color: white;
      }
      &:focus {
        border: none;
        outline: 0;
      }
      @media (max-width: $mobile-break) {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
  
}

.hero {
  & {
    position: relative;
  }
  &-banner {
      height: 600px;
      top: 0;
      z-index: -1;
      position: fixed;
       width: 100%;
    &-image {
      background-image: url(https://assets.routinemagazine.com/img/noira-6-home-min.jpg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      z-index: 0;
      width: 100%;
      position: absolute;
      top: -100px;
      bottom: 0;
    }
    &-text {
      position: relative;
      height: 100%;
      &-table {
        display: table;
        width: 100%;
        height: 100%;
        &-cell {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          padding: 200px 0 0 0;
          height: 100%;
          text-align: center;
          h1, h3, h6 {
            color: red;
            font-family: tiempos-reg;
            margin: 0;
            font-size: 42px;
          }
          h1 {
            font-weight: 100;
          }
          h3 {
            font-family: labmono;
            font-size: 22px;
            padding: 10px 5px;
          }
          h6 {
            font-family: arial;
            font-size: 20px;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

.body-index {
  position: relative;
  background: white;
  margin-top: 600px;
  
  @media (max-width: 1000px) {
    
    & {
      margin-top: 500px
    }
    .hero-banner {
      height: 500px;
    }
  }
  @media (max-width: $tablet-break) {
    & {
      margin-top: 450px;
    }
    .hero-banner {
      height: 450px;
    }
    .hero-banner-image {
      top: -50px; 
      background-size: cover;
    }
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 18px;
    }
    h6 {
      font-size: 15px;  
    }
    .hero-banner-text-table-cell {
      padding-top: 120px
    }
  }
  @media (max-width: 750px) {
    .hero-banner-text-table-cell {
      padding-top: 100px
    }
    .stage {
      padding: 50px 0;
    }
  }
  @media (max-width: $mobile-break) {
    & {
      margin-top: 400px
    }
  }
  @media (max-width: 550px) {
  }
  @media (max-width: 414px) {
  }
  
}



//.row.nav.absolute {
//  position: absolute;
//}

.stage-nav.transparent {
  background: transparent;
}

.stage-wrapper, .footer-wrapper {
  background: white;
}

