$red: #ff1b00;
$pink: #ff1b00;
//$pink: 	#FF0033;

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.brand-title {
  z-index: 5;
  position: fixed;
  top: 8px;
  left: 50px;
  text-align: center;
  font-family: ceremony;
  text-transform: uppercase;
  font-size: 2.5rem;
  cursor: pointer;
  color: $pink;
  text-decoration: none;
}

.brand-nav {
  z-index: 5;
  position: fixed;
  top: 31px;
  right: 50px;
  cursor: pointer;
  
  a {
    font-family: labmono;
    color: $pink;
    text-decoration: none;
    
    @media (max-width: $mobile-break) {
      display: none;
    }
  }
}

.stage {
//  padding: 70px 50px 50px 50px;
//  min-height: calc(300vh - 300px);
  width: calc(100vw - 96px);
  margin: 70px 50px 0;
//  border-right: 2px solid red;
//  border-left: 2px solid red;
  
  &::before {
        content:'';
        display: block;
        background: white;
        width: calc(100% - 96px);
        height: 68px;
        border-bottom: 2px solid $pink;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        margin-left: 50px;
      }
  
  &::after {
        content:'';
        display: block;
        background: white;
        width: 100%;
        border-top: 2px solid $pink;
        bottom: 0;
        left: 0;
        z-index: 4;
        margin: 70px 0 30px;
      }
  
  &__item {
    
    & {
      padding: 30px 0 0 0;
    }
    
    .row {
      position: relative;
    }
    
    .genre {
      position: absolute;
      right: 0;
    }
    
    img {
      width: calc(33.33% - 7px);
      padding: 0 5px;
      
      &.first {
        padding-left: 0;
        @media (max-width: $tablet-break) {
          width: calc(50% - 5px);
        }
        @media (max-width: $mobile-break) {
          width: 100%;
          padding-right: none;
        }
      }
      
      &.middle {
        @media (max-width: $tablet-break) {
          width: calc(50% - 5px);
          padding-right: 0;
        }
        @media (max-width: $mobile-break) {
          display: none;
        }
      }
      
      &.last {
        padding-right: 0;
        
        @media (max-width: $tablet-break) {
          display: none;
        }
      }
      
    }
    
    a {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }
    
    h6, h5, h1, h2, p {
      margin: 0;
      color: $black;
      font-family: tiempos-reg;
      left: 5px;
    }
    
    h6 {
      text-align: right;
      font-family: labmono;
      font-size: 14px;
      font-weight: 100;
      text-transform: uppercase;
      padding-bottom: 5px;
      line-height: .8;
      letter-spacing: 5px;
      
      span {
            font-family: Ceremony;
            color: $pink;
            font-size: 5px;
            top: 0;
            margin-left: 3px;
            font-style: normal;
      }
    }
    
    h5 {
      font-family: labmono;
      color: #666;
      font-size: 11px;
      font-weight: 100;
      padding-top: 2px;
      
      span {
        color: $pink;
        font-style: normal;
      }
    }
    
    h1 {
      font-weight: 100;
      font-size:21px;
      
      span {
        white-space: pre;
        font-weight: 100;
        font-style: italic;
      }
      
      &:hover {
        color: red !important;
      }
    }
    
    p {
      padding: 1px 0 5px 8px;
      font-size: 14px;
    }
  }
  
  &__item__title {
    
    & {
      display: inline-block;
      position: absolute;
      width: auto;
      height: auto;
      background: $white;
      padding: 15px;
      right: 20px;
      bottom: 50px;
    }
    
    h6, h1, h2, p {
      margin: 0;
      color: $white;
      mix-blend-mode: difference;
      font-family: Georgia;
    }
    
    h6 {
      text-align: right;
      font-family: labmono;
      font-size: 12px;
      text-transform: uppercase;
    }
    h1 {
      font-weight: 100;
      font-size:24px;
    }
    h2 {
      white-space: pre;
      font-weight: 100;
      font-style: italic;
      font-size: 18px;
    }
    p {
      padding: 10px 0 0 0;
    }
  }

}

.footer {
  
  & {
    margin: 0 50px 22%;
    @media (max-width: 1250px) {
      margin-bottom: 30%
    } 
    @media (max-width: 1000px) {
      margin-bottom: 34%
    } 
    @media (max-width: $tablet-break) {
      margin-bottom: 33%
    } 
    @media (max-width: $mobile-break) {
      margin-bottom: 25%
    } 
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
    
    .column {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin: 10px 0;
      
      p {
        color: $black;
        text-decoration: none;
        font-family: labmono;
        font-size: 18px;
        width: 80%;
        margin: 0 0 20px 0;
        
        span {
          color: $pink;
        }
      }
    }
    
    a {
      color: $pink;
      font-size: 2.5rem;
      font-family: Ceremony;
      text-decoration: none;
      cursor: pointer;
    }
    
    p {
      color: $black;
      font-family: labmono;
      font-size: 18px;
    }
    
    @media (max-width: $mobile-break) {
      flex-direction: column;
    } 
  }
  
}