.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  &.flex-start {
    justify-content: flex-start !important;
  }
}

*::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
  color: white;
}
*::-moz-selection {
  background: $primary-color;
  color: white;/* Gecko Browsers */
}