extends reviews-template

block imageMeta
  meta(property="og:image" content="https://assets.routinemagazine.com/img/etchells-home-1.jpg")
  meta(name="twitter:image" content="https://assets.routinemagazine.com/img/etchells-home-1.jpg")

block stageImageMain
  img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/etchells-1-min.jpeg" class="lazyload")
  p Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.
  
block stageText
  p When emerging from the train station to the new piazza of Times Square's “Pedestrian Flow Zone,” one must be prepared to navigate the unsteady, crashing currents of lost tourists who are not yet accustomed to the rhythms of New York. Moving between selfie sticks and wayward groups of four or more, all directions are upstream on this stretch of Broadway. This might seem like an unlikely place to find the world's largest and longest running digital art exhibition, but the Times Square Advertising Coalition (TSAC) and Times Square Arts have been running the Midnight Moments video installation series here since 2012. Every night for three minutes &mdash; from 11:57 to midnight &mdash; the series brings video installation into the world's most prime advertising real estate. Each installation is shown nightly for one month. According to Times Square Arts, the series has an estimated annual viewership of 2.5 million people &mdash; that’s just over twice the yearly attendance rates of the Guggenheim Museum, LACMA or the Acropolis Museum in Athens.
  p This month, TSAC and Times Square Arts have teamed up with the Crossing the Line Festival to present Tim Etchells' video installation #[i Eyes Looking]. Etchells' work uses language as the main subject. On the screen we see two-word phrases spelled out in ice letterforms, melting on stone in short time-lapse shots. From the large red staircase atop the TKTS booth in Duffy Square, facing south from the Northern triangle of the larger Times Square, at least six screens can be seen lit up with his videos each night as the installation stretches down from 47th to 42nd. His phrases reference the body, captioning the dramaturgy and human physicality of the crowds here in the heart of our increasingly screen-bleached, LED-lit world. For three minutes his words
  p(class="quote") EYES LOOKING
    br
    | BREATH FLOWING
    br
    | HEARTS BEATING
  p melt away onscreen as if they were overheated by their environs, draining off into the cacophony of surrounding text. The resulting runoff (re)reads:
  p(class="quote") Brandedcities.com
    br
    | EYES LOOKING
    br
    | Thompson Reuters
    br
    | HEARTS BEATING
    br
    | It Doesn't Stop
    br 
    | Experience It
    br
    | It in Imax
    br
    | FLOWING
    br
    | EXPRESS
    br 
    | NAUTICA
    br 
    | CATS
  p ...so that, almost as quickly as they came, the poetics are spilled back into our prosaic digital landscape.
  p Etchells is well known for working in various media, ranging from visual art to performance and writing, to focus on the uses, impacts and potential of language. Etchells’ artistic practices vary from his position as the Artistic Director of Forced Entertainment, a theater and performance constellation making and showing work since 1984, to his career as an individual artist who creates text-based work in various materials from neon to ink on paper to LED tickers. His work in both theater and text seem uniquely fitting for the Times Square #[i Midnight Moments] series, right here in the middle of the world’s most famous theater district and amidst one of the highest concentrations of digital signage in the world.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/etchells-2-min.jpeg" class="lazyload" alt="Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.")
    p Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.
  p Works such as his 2006 LED sign, #[i Nothing List], in which he programs a ticker to scroll through phrases containing the word ‘nothing’, and his 2015 piece #[i News Ticker], in which a smaller LED display runs through variations of the work's title in homonyms, rhymes and puns, both relate well to the streams of language that have been running through Times Square for the past 88 years since the 1928 installation of an electronic news ticker at One Times Square. Time-based text works that use moving language produce a sense of constant incompletion; the entire phrase is never accessible all at once, but gets fed to the reader one letter at a time, disappearing just as fast. In a 2011 project, #[i Forever (Stop Frame)] and #[i Forever (Sequence)], Etchells used the same visual and material language as #[i Eyes Looking], spelling words out in ice and filming them as they melted on what looks like a distressed cement factory floor. In these works he focused on just one phrase: “Live Forever.” As those words melt, the viewer is prompted to consider, perhaps, the entropy of all things; even the very concept of forever. 
  p #[i Eyes Looking] also has this element of movement and continuity, but in Times Square Etchells swaps concrete for natural stone, deepening the contrast to pixels cluttering this extreme corner of Manhattan. In #[i Eyes Looking], water and stone are introduced as anachronistic, basic elements, standing out in the high-tech Square. Allowing the water to transform from a frozen to a liquid state reminds us of the subtle transformations of matter, a sensibility that opposes the constantly new, constantly shiny and never entropic consumer products being blasted through the rest of the screens during the other 1,437 minutes of the day. Etchells uses and highlights the incredible quality of these massive screens by focusing on the texture of the stone, holding the image for longer than most of the advertisements would ever take to show us a simple surface.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/etchells-home-1.jpg" class="lazyload" alt="Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.")
    p Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.
  p There's a lot about this installation that seems driven by a desire to be in contrast with the surroundings. The artist’s texture-scape of material provides a resting point for overworked eyes. Many of the viewers in Times Square stop and take a moment to notice the sudden synchronization of screens, even if they did not come specifically to see the work. By stopping amidst the “pedestrian flow,” viewers become like stones in a river. Just through the act of stopping to look, they enter into or produce another temporality parallel to the rushed crowds surrounding them. #[i Eyes Looking], in keeping with its deceptively simple title, is just as much about the video installation as it is about the eyes, and people, who look at it.
  p In describing #[i Eyes Looking], Etchells says the work invites viewers into a simultaneously intimate and public mode of consideration, “trying to draw each person that encounters it into a space of intimate reflection.”  The text itself refers us to our own bodies, rather than to the gratifying sensations that a new consumer object like a car or clothes can offer us. We're invited to the intimacy of an internalized sense of self rather than to an external interaction. Yet at the same time the phrases Etchells uses are open and plural like the crowd, reminding us how other bodies might relate to ours physically, through organs and matter rather than through names, identities or signifiers. They are: Eyes Looking, Breath Flowing. We are: Eyes Looking, Breath Flowing.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/etchells-3-min.jpeg" class="lazyload" alt="Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.")
    p Tim Etchells. Midnight Moment: 'Eyes Looking'. Photo by Ka-Man Tse.
  p The president of the Times Square Alliance, Tim Tompkins, was #[a(href="https://www.dnainfo.com/new-york/20161005/times-square-theater-district/times-square-billboards-midnight-poetry" target="_blank") recently quoted] in a comment about the contrasts between Etchells' installation and what he called the “insistence and aggression of Times Square’s usual visual landscape.” Yet only some, not all elements of Etchells' work contrast with the tempo  of the world famous square. The most surface features of the work, such as the text's invitation to reflect, don’t actually differ so starkly with the copywriting style of the advertisements surrounding the work. After all, a lot of advertising for luxury electronics or lifestyle brands nowadays focus on the product’s ability to pare down one’s life, simplifying things and slowing the pace of the daily grind. 
  p It is the #[i material] Etchells chose to document that makes a striking contrast with the extravagant surroundings of this public exhibition space. Simple melting ice and detailed, natural stone are displayed unceremoniously in this heap of stimulation, and – more importantly – they aren’t trying to sell us anything. Here in this enclosure of steel, glass, concrete and cars, crowds shuffle through just to dose themselves with light, entertainment and product. In the very heart of a materialist, image-driven culture and economy, Etchells make the quixotic midnight offering of a material that dissolves before our very eyes, but not before spelling out the simplest of announcements: you exist.
  .small
  p(class="place-blurb") Tim Etchell's #[i Eyes Looking], is a #[a(href="http://www.timessquarenyc.org/times-square-arts/projects/midnight-moment/index.aspx" target="_blank") Midnight Moments] Installation, and part of the #[a(href="https://crossingthelinefestival.org/events/tim-etchells/" target="_blank") Crossing the Line Festival]. Cover photos by Ka-Man Tse.
  hr(class="large")
  