extends reviews-template

block socialMeta 
  meta(property="og:title" content="Takao Kawaguchi’s 'About Kazuo Ohno' | Routine Magazine")
  meta(property="og:description" content="Kawaguchi attempts to reproduce butoh by trying on three seminal works by Kazuo Ohno")
  meta(property="og:image" content="https://assets.routinemagazine.com/img/aboutohno-5.jpg")
  meta(property="og:url" content="https://routinemagazine.com/reviews/aboutkazuoohno")
  meta(name="twitter:title" content="Takao Kawaguchi’s 'About Kazuo Ohno' | Routine Magazine")
  meta(name="twitter:description" content="Kawaguchi attempts to reproduce butoh by trying on three seminal works by Kazuo Ohno")
  meta(name="twitter:image" content="https://assets.routinemagazine.com/img/aboutohno-5.jpg")
  meta(name="twitter:card" content="summary")

block stageImageMain
  img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/Monson-2.jpg" class="lazyload")
  p Jennifer Monson/iLAND, in tow, Danspace Project. Photo by Ian Douglas/courtesy Danspace Project.     
 
block stageText
  p After pushing and slipping through rush hour on a rainy New York evening, I ducked into Danspace Project and chose a seat within a cluster of plastic chairs beneath the church balcony. Quietly, I wondered whether I was watching or participating in #[i tide/groove], a “Pre-Attack” before the main performance of #[a(class="http://www.ilandart.org/about/" target="_blank") Jennifer Monson/iLAND’s] #[i in tow]. #[i in tow], an ongoing performance and research project initiated by Monson in 2013, asks what it means to experiment. Working through visual, sonic, tactile, and kinetic exercises over time, #[i in tow] is an intergenerational, interdisciplinary investigation that brings the participating artists’ various questions together as a collective practice.
  p The “Pre-Attacks,” hour-long demonstrations during the second week of #[i in tow], illustrated the infrastructure behind the project. For #[i tide/groove], the nine performers explored the acoustic potential of St. Mark’s Church. They stomped and tapped, but, as their sounds echoed up into the high ceilings, a new tide of beeps, footsteps, splashes, and bells snuck in through the open front doors. Sounds flowed between the outside street and the church’s interior. The performers basked in this sporadic activity, sliding the sounds along the church’s floors and wrapping them around its colonnades. 
  p According to the event description, #[i tide/groove] was “developed from the horizon-line set up,” an idea first conceived of by Valerie Oliveiro. Oliveiro, one of #[i in tow]’s participating artists, was interested in how the horizon is a receding line that can never be reached. One of the investigations of #[i in tow] became, then, to think about how to be in the horizon, how to dimensionalize an unreachable line. 
  p DD Dorvillier approached the corner of the church in which I and four others were seated. Friendly and casual, she explained that for this exercise, the performers were rotating between several categories, including  “sound,” “movement,” “draw/write,” “touch,” “image-making,” and “host.” It soon became clear that the performers could not occupy one category without accidentally crossing into another. In order to hear the sound of pulling tape up from the wooden floor, you must pull it, and therefore move. In order to be the host, you might touch the shoulder of your guest as you welcomed them. 
  p The noises and motions began to accumulate, thick cardboard tubes falling with loud reverberating bangs, small bells rolling along the floor, squeaking feet. It became difficult to know where all of these noises were coming from—were they all live? Just as I began to wonder, Zeena Parkins sat beside me with a handheld speaker. Coming from it were low drones and gurgles, evoking a group of pigeons who, like small gray ventriloquists, emit sound without opening their beaks.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/Monson-4.jpg" class="lazyload" alt="Jennifer Monson/iLAND, in tow")
    p Jennifer Monson/iLAND, in tow, Danspace Project. Photo by Ian Douglas/courtesy Danspace Project.  
  p After a break, #[i in tow] began with a new seriousness. Strewn about the space were the cardboard tubes from the “Pre-Attack” and wooden sculptures, hollow wedges made by Joseph Silovsky. The performers leaned on, pushed, and hid behind them. Monson and Oliveiro held cardboard tubes up to audience members’ faces, creating telescopic frames for the events unfolding elsewhere in the room. The performers’ overlapping shadows drew attention to a small drawing taped on the wall and a white sewing machine on an ironing board in the corner. After what felt like a timed reading comprehension test—the kind that offers pages of information, then one blank line on which to write the “main idea”—a voice yelled “Time!” and the room went silent. Though not totally silent, of course. Niall Jones’ pockets were full of bells.
  p Sometimes groupings of two and three would seem to merge, like puzzle pieces fitting together, only to vibrate apart, pulled away by another performer, an object, or a new beat. It was impossible to keep up with it all, so the audience too had to choose one detail to dance with for a while, then shift to another. I squinted across the room at another cluster of audience and tried to follow their eyes; wondering what they could see that I could not.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/Monson-1.5.jpg" class="lazyload" alt="Jennifer Monson/iLAND, in tow")
    p Jennifer Monson/iLAND, in tow, Danspace Project. Photo by Ian Douglas/courtesy Danspace Project. 
  p(class="quote") &#34;Time!&#34;
  p This time, some of the performers headed towards a clothing rack for a costume change. nibia pastrana santiago pulled on a loose black garment, skipping across the room with a whoosh of air. Susan Becker jumped into a tight jumpsuit, and examined her bending limbs. Later on, Alice MacDonald would put on a thick onesie with the pattern of a worn brick wall. Angie Pittman and Monson interlocked and climbed. At one point, they held hands; it was a clear image within the blurry montage of their larger movements. Discrete, almost narrative moments like these, combined with the ebbing and flowing of bodies and music, created the anticipation of a dramatic pause. Yet, there was no “drama” and certainly no pause. The performers responded to each other’s rhythms by shaking, wobbling, falling, and sliding. They were children, pets, sculptures, amoebas. 
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/Monson-3.jpg" class="lazyload" alt="Jennifer Monson/iLAND, in tow")
    p Jennifer Monson/iLAND, in tow, Danspace Project. Photo by Ian Douglas/courtesy Danspace Project. 
  p(class="quote") &#34;Time!&#34;  
  p This time, the room went dark. As the lights slowly brightened, I noticed that the harp placed just a few feet away from me had not yet been played. Then, as Monson crossed the floor and wrapped herself in blue fabric, Parkins finally approached the harp. Just as she played a loud, resonant chord, Niall rolled from the steps. Did the chord cause the fall? 
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/Monson-6.jpg" class="lazyload" alt="Jennifer Monson/iLAND, in tow")
    p Jennifer Monson/iLAND, in tow, Danspace Project. Photo by Ian Douglas/courtesy Danspace Project. 
  p As the performance was winding to a close, I realized that the harp was the only thing that seemed to be able to control all other elements of the performance. Even when the motions of Monson, Dorvillier, or Pittman resembled those of magicians or puppeteers, they never pulled everyone into their rhythm at once. But the harp did. The music brought the whole group into a pulsing knot of limbs, all in tow. Somewhere within the pulsing knot, causality disappeared. I focused on a quick, clicking rhythm; hoping I could find its source and thus retrieve causality. Its volume suggested that it was playing through the speakers mounted above me. But when I saw Alice MacDonald’s fingernails tapping one of the wooden wedges, I became convinced that her slight movement was the source of this larger sound. With this newfound logic (or illogic), I even tried to trace the smell of incense back to an arching spine. Remembering the handheld speaker from tide/groove, I understood that pre-recorded sounds were mingling with the live sounds all along. The sounds were overlapping different times within one space—or perhaps, within one horizon line. 
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/Monson-5.jpg" class="lazyload" alt="Jennifer Monson/iLAND, in tow")
    p Jennifer Monson/iLAND, in tow, Danspace Project. Photo by Ian Douglas/courtesy Danspace Project. 
  p The unreachable horizon line appears differently for each performer, and for each audience member. Yet, #[i in tow], through almost scientific approaches to collaboration, allows experiments to prove themselves. Like mathematical formulae, rules are set, then used as the backbone for all discoveries thereafter. In this way, the artists participating in this project have touched the possibility of operating as a whole without sacrificing their multiplicity. They have drawn their own horizon line, and stepped right in. 
  .small
  p(class="place-blurb") Jennifer Monson and iLAND developed #[i in tow] as part of a performance research process. The project is a collaboration with Susan Becker, DD Dorvillier, Niall Jones, Alice MacDonald, Jennifer Monson, Valerie Oliveiro, Zeena Parkins, Angie Pittman, Nibia Pastrana Santiago, David Zambrano and Rose Kaczmarowski. This review is of the September 30, 2016 performance at #[a(href="http://www.danspaceproject.org/" target="_blank") Danspace Project].
  hr(class="large")
  

  
  