extends reviews-template
  
block imageMeta
  meta(property="og:image" content="https://assets.routinemagazine.com/img/ferver-iwantyoutowantme.jpg")
  meta(name="twitter:image" content="https://assets.routinemagazine.com/img/ferver-iwantyoutowantme.jpg")

block stageImageMain
  img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/ferver-iwantyoutowantme.jpg" class="lazyload" alt="Jack Ferver. I Want You to Want Me, 2016. Photo by Michael Sharkey.")
  p Jack Ferver. I Want You to Want Me, 2016. Photo by Michael Sharkey.     
 
block stageText
  p Jack Ferver is #[span that] kind of choreographer. In his new work, #[span I Want You to Want Me] he spends much of his time upstage in all black, with his back to the audience, and his face turned towards a large mirror. This arrangement is a choreography of narcissism, with Ferver positioning everything so that he can reflect on two different kinds of self-portraits simultaneously: his own image, and that of his work. 
  p Meanwhile, his dancers are downstage working. They perform allegros and pas de deuxs throughout a slapstick narrative that follows an american ballet dancer's (Carling Talcott-Steenstra) dreamy yet cliche escape to Europe,  her dance-induced engagement to a fellow company member (Barton Cowperthwaite), and trials with her "vaguely euro" ballet mistress Madame M, played by Jack Ferver.   
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/ferver-iwantyoutowantme-6.png" class="lazyload" alt="Jack Ferver watching his dancers perform. Photo by Paula Court.")
    p Jack Ferver watching his dancers perform. Photo by Paula Court.
  p #[span I Want You to Want Me] is a mise en abyme of a dance, a ballet about ballet. Not only do the dancers move beautifully within the technique, but the structure of the piece is borrowed from romantic ballet, as it uses a narrative of dramatic courtship and desire to frames scenes of ecstatic balletic performance. The acting in the work furthers the self referentiality, with Ferver playing a choreographer, and his dancers moving and describing their own dance histories. The work also points to the thematics of ballet, with Madam M nodding the realm of the supernatural, delivering aphoristic soliloquies on life, death, love and hell, before sending her dancers into equally dramatic displays of movement.
  p(class="quote") "We are only here in this moment, so we must give the dance our everything. It is possible that we might die."
  p The work's appropriation of the story ballet form makes for an excellent parody, with the dancers hamming up the melodrama and using comedic timing to emphasize awkward tensions between plot and movement. In one such transition, Ferver abruptly turns to his longtime collaborator Reid Bartelme, and declares, &#34;I love you, and that's why I made this for you&#34;. The aforementioned gift turns out to be choreography, as Ferver then dramatically turns to look at himself in the mirror and then exit the stage, leaving Reid to perform a starkly beautiful solo adagio.
  p True to Ferver's &#34;gothic camp&#34; aesthetic, this lightness has an edge, with the comedy turning dark and Madame M's vanity turning violent. As we watch as the dancers submit totally to her artistic desires, it becomes apparent that in #[span I Want You to Want Me], choreography acts as a kind of contract that elicits psychophysical obedience. In one such choreographic exchange, Madame M's direction for Carling and Barton to dance together as Adam and Eve causes them to fall in love mid-performance— only to break up in confusion once the music stops.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/ferver-iwantyoutowantme-7.jpeg" class="lazyload" alt="Carling Talcott-Steenstra and Barton Cowperthwaite. Photo by Paula Court.")
    p Carling Talcott-Steenstra and Barton Cowperthwaite. Photo by Paula Court.
  p(class="quote") &#34;We've just met, I don't fucking know you!&#34;
  p The power-play dynamic between director and dancer comes to a head when Madame M murders Anne via a choreographic decision: She must dance to her death. Anne, rite of spring style, takes to center stage to jete again and again, wide-eyed in her trance, until she collapses into a heap on the floor. 
  p The brilliance of #[span I Want You to Want Me], is how much it achieves. Using humor as a mental sweetener, and ballet as a socio-physical framework that demands total discipline of the body, the work asks, what kind of agency do dancers have, and how have choreographers controlled their fate?  Jack Ferver teases us with an answer as the performance concludes. Standing over the bodies of two ballet dancers, he turns to Reid who musters: &#34;We have fun&#34;. Bass music kicks in, the lights dip to bathe them in red, and together they bounce between different poses, switching directions so that they can alternate between staring us down and checking themselves out in the mirror.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/ferver-iwantyoutowantme-4.jpeg" class="lazyload" alt="Reid Bartelme. Photo by Paula Court.")
    p Reid Bartelme. Photo by Paula Court.
  .small
  p(class="place-blurb") Jack Ferver's #[i I Want You To Want Me] ran June 30 - July 2, 2016 at #[a(href="http://www.thekitchen.org/" target="_blank") The Kitchen] as part of #[a(href="http://www.americandance.org/performance/nyc/" target="_blank") ADI/NYC]. Cover photos by Michael Sharkey, Paula Court, and Andrea Mohin. 
  hr(class="large")
  
