extends reviews-template

block socialMeta
  meta(property="og:title" content="The Holy Body Tatto's 'Monumental' | Routine Magazine")
  meta(property="og:description" content="In maximalist corporate culture, business becomes disease")
  meta(property="og:image" content="https://assets.routinemagazine.com/img/monumental-JackVartoogian-6.jpg")
  meta(property="og:url" content="https://routinemagazine.com/reviews/monumental")
  meta(name="twitter:title" content="The Holy Body Tatto's 'Monumental' | Routine Magazine")
  meta(name="twitter:description" content="In maximalist corporate culture, business becomes disease")
  meta(name="twitter:image" content="https://assets.routinemagazine.com/img/monumental-JackVartoogian-6.jpg")
  meta(name="twitter:card" content="summary")

block stageImageMain
  img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-6.jpg" class="lazyload")
  p The Holy Body Tattoo. Monumental. Photo by Jack Vartoogian, 2016.     
 
block stageText
  p In 1979, American artist Robert Longo began his iconic #[i Men in Cities] series; large photorealistic charcoal drawings of contorted men and women dressed in traditional office wear.  For the most part, the twisted bodies of Longo’s subjects appear faceless, a mop of hair or a flailed arm obscuring their identity, while the suits and ties take center stage. The fabric becomes a Rorschach test of blotted black movement against a stark-white horizonless background. 
  p The subjects of Longo’s work gesticulate with a punk-rock likeness, yet there is an elegance to their heavy limbs and convex backs. While the clothing makes the subjects appear as indistinguishable cogs in a Wall Street machine, the movement that Longo portrays creates opposition. In #[i Men in Cities], it is choreography that makes "suits" enigmatic.
  .stage__text__image.two
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/menincities2.jpg" class="lazyload" alt="Work from Men In Cities")
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/menincities-1.jpg" class="lazyload" alt="Work from Men In Cities")
    p Works from Men In Cities. Drawings by Robert Longo, 1981.
  p It comes as no surprise that these drawing serve as a visual reference and inspiration for #[i monumental], a nine person ensemble performed by Vancouver-based dance troupe #[i The Holy Body Tattoo], which aims to animate and explore a "full-bodied indictment on the daily grind". Scored and accompanied by the post-rock collective #[i Godspeed You! Black Emperor], and interspersed with projected text by conceptual artist Jenny Holzer and films by William Morrison, #[i monumental] is an hour and fifteen minutes of high-intensity choreography that mimics the life cycle of corporate culture.
  p Making its New York City debut this past weekend at the Brooklyn Academy of Music, #[i monumental] begins with nine performers costumed in black and white office clothing, each individually situated atop a squat light-box pedestal. The glow illuminates each dancer from below with the cool artificial reflection of a screen.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-3.jpg" class="lazyload" alt="The Holy Body Tattoo")
    p The Holy Body Tattoo. Photo by Jack Vartoogian, 2016.
  p Upstage, #[i Godspeed You! Black Emperor] appears on a platform with a near-opaque black curtain masking their bodies. Throughout the performance, the band’s music is omnipresent, but their placement forces the immediate attention onto the #[i The Holy Body Tattoo] performers. 
  p As the sound wakens the bodies, each of the nine dances begin to tick and twitch at random. Individualized gestures of anxiety, aching, neurosis and boredom are hyper accentuated and sped-up. The manic nature of the convulsions, (which were adopted and incorporated from choreographer’s Noam Gagnon and Dana Gringras observing commuters) begin to lose their quotidian nature and become medical and maniacal. Business becomes a disease.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-2.jpg" class="lazyload" alt="The Holy Body Tattoo")
    p The Holy Body Tattoo. Photo by Jack Vartoogian, 2016.
  p At once, the dancers quickly lock step and become a fully realized labor force. With splayed hands that perform on repeat, and waists buckled into a jointed apparatus, the bodies perform tasks in conveyer-belt like succession. They speed up, they slow down, they begin again.  Pristine white shirts become drenched in sweat,  as their limbs  fall heavy and their panting becomes audible. Downstage, a performer ruptures the repetition and falls onto their pedestal in exhaustion. 
  p  #[i monumental] becomes less monumental, as this disruption breaks up the militant unison and causes the performers to begin to waver between solo phrases and a collective groupthink. The bodies are working to understand, explore, reject and accept collaborative movement. As such, the clipped gestures borrow from a wide variety of recognizable ensemble choreography. From tap dance rhythms and show girl peacocking; to military precision and Maori tribe pride, the dancer's repetition and delivery evokes the diligence and training of these classic models, while their bodily demeanor seems frenzied, almost unhinged. 
  p The musical accompaniment of #[i Godspeed you! Black Emperor] is expansive, ambient and cathartic. Pulsing with bass and drums, the crescendos accentuate the mechanical movements of the bodies. At times the performers will scream into the void, their bodies un-mic’ed and their efforts therefore futile. The audience is largely ignored until the end of an implied first act when the performers eerily stand downstage to assume an exaggerated stance and smile widely at the audience as if to say "we are here to serve you". It is a theatrical delivery of man-versus-power that embodies the everyday emotional labor of just being alive. 
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-6.jpg"  class="lazyload" alt="The Holy Body Tattoo")
    p The Holy Body Tattoo. Photo by Jack Vartoogian, 2016.
  p As expected, the mania wears out.  The high-endurance gives way and the piece softens. During one particularly elegiac moment, three solitary dancers stand solemnly in the darkened theater. Each is holding  a single flashlight and shining the thin beams of light at the audience, catching us like deer in headlights. Slowly moving their bodies in concentric circles with arms outstretched before them, the movement becomes, quite literally,  a guiding light. 
  p It is here that #[i monumental] presents the most distressing of daily activities. The only thing more exhausting  than the daily grind of the everyday, is the questions that arise when the system breaks down, when the work stops, or when a life nears its end. It is the the primal anxiety we are left with when we have to begin to ask "what's it all for?" 
  .small
  p(class="place-blurb") The Holy Body Tattoo's #[i Monumental] is a collaboration with post-rock band #[i Godspeed You! Black Emperor] and conceptual artist Jenny Holzer. This review is of the Sep, 10 2016 performance at #[a(href="http://www.bam.org/" target="_blank") BAM], as part of the annual #[a(href="http://www.bam.org/programs/2016/next-wave-festival" target="_blank") Next Wave Festival]. Cover photos by Jack Vartoogian.
  hr(class="large")
  

  
  