extends reviews-template

block stageImageMain
  img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-6.jpg" class="lazyload")
  p The Holy Body Tattoo. Monumental. Photo by Jack Vartoogian, 2016.     
 
block stageText
  p In 1979, American artist Robert Longo began his iconic Men in Cities series; large photorealistic charcoal drawings of contorted men and women dressed in traditional office wear.  For the most part, the twisted bodies of Longo’s subjects appear faceless, a mop of hair or a flailed arm obscuring their identity, while the suits and ties take center stage. The fabric becomes a Rorschach test of blotted black movement against a stark white horizonless background.
  p The choreography of Men in Cities is enigmatic. The bodies gesticulate with a punk-rock likeness and there is an elegance and a hostility in the heavy limbs and convex backs. Wearing a suit, your identity is not lost, but rather replaced, by the homogeneity of the Wall Street uniform. It is through the movement that Longo creates opposition. 
  .stage__text__image.two
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/menincities2.jpg" class="lazyload" alt="Work from Men In Cities")
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/menincities-1.jpg" class="lazyload" alt="Work from Men In Cities")
    p Works from Men In Cities. Drawings by Robert Longo, 1981.
  p It comes as no surprise that these drawing serve as a visual reference and inspiration for monumental, a nine person ensemble performed by Vancouver based dance troupe The Holy Body Tattoo, which aims to animate and explore a “full-bodied indictment on the daily grind”.  Scored and accompanied by the post-rock collective Godspeed you! Black Emperor, and interspersed with projected text by conceptual artist Jenny Holzer, and films by William Morrison, monumental is an hour and fifteen minutes of high-intensity choreography that mimics the life cycle of corporate culture.
  p Making its New York City debut this past weekend at the Brooklyn Academy of Music, monumental begins with nine performers costumed in black and white office clothing and each individually situated atop a squat light-box pedestal. The glow illuminates each dancer from below with the cool artificial glow of a screen.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-2.jpg" class="lazyload" alt="The Holy Body Tattoo")
    p The Holy Body Tattoo. Photo by Jack Vartoogian, 2016.
  p Upstage, Godspeed you! Black Emperor appears on a platform with a near-opaque black curtain masking their bodies. Throughout the performance, their live music is omnipresent, but the band’s placement forces the immediate attention onto the The Holy Body Tattoo. 
  p As the music begins to play, each of the nine dances begin to tick and twitch at random. Individualized gestures of anxiety, aching, neurosis and boredom are hyper accentuated and sped-up. The manic nature of the convulsions, (which were adopted and incorporated from choreographer’s Noam Gagnon and Dana Gringras observing commuters) begin to lose their quotidian nature and become medical and maniacal. Business becomes a disease.
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-3.jpg" class="lazyload" alt="The Holy Body Tattoo")
    p The Holy Body Tattoo. Photo by Jack Vartoogian, 2016.
  p At once, the bodies quickly lock step and the dancers suddenly become a fully realized labor force. The movement sync: splayed hands perform on repeat, the waist buckles into a jointed apparatus, the bodies perform tasks in conveyer belt like succession.They speed up, the slowdown, they begin again.  The pristine white shirts become drenched in sweat, their limbs appear heavy and their panting becomes audible. Downstage, a performer ruptures the repetition and falls onto their pedestal in exhaustion. 
  p For the remainder of monumental the ensemble wavers between solo phrases and a collective groupthink. Their clipped gestures borrow from tap dance, Maori tribes and a marching band. The repetition and delivery evokes the armed forces.
  p The musical accompaniment of Godspeed you! Black Emperor is expansive, ambient and cathartic. Pulsing with bass and drums, the repetitive crescendos accentuate the mechanical movements of the bodies. At times the performers will scream into the void, their bodied un-miced and their efforts therefore futile. The audience is largely ignored, until the end of the first act when the performers eerily stand downstage, assuming an exaggerated stance and smiling widely at the audience as if to say "we are here to serve you". 
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="//assets.routinemagazine.com/img/monumental-JackVartoogian-6.jpg"  class="lazyload" alt="The Holy Body Tattoo")
    p The Holy Body Tattoo. Photo by Jack Vartoogian, 2016.
  p The dancers devolve into a theatrical delivery of man vs power and collective vs. individual that embodies the contemporary struggle everyone who is part of the work force can relate to. Still evoking Longo, the movement remains awkward with inverted toes, nervous hands and hair strewn faces. A little less punk rock, a bit more overeager, but nonetheless moving in order to stay alive.  
  .small
  p(class="place-blurb") The Holy Body Tattoo's #[i Monumental]. This review is of the Sep, 10 2016 performance at the #[a(href="" target="_blank") BAM]. Cover photos by Jack Vartoogian.
  hr(class="large")
  

  
  