extends reviews-template

block socialMeta
  meta(property="og:title" content="Routine Magazine | Nora Chipaumire's 'Portrait of Myself as My Father'")
  meta(property="og:description" content="Nora Chipaumire keeps one hat in the ring")
  meta(property="og:image" content="https://assets.routinemagazine.com/img/noira-6.png")
  meta(property="og:url" content="https://routinemagazine.com/reviews/portraitofmyselfasmy")
  meta(name="twitter:title" content="Routine Magazine | Nora Chipaumire's 'Portrait of Myself as My Father'")
  meta(name="twitter:description" content="Boxing with the shadows, Chipaumire keeps one hat in the ring")
  meta(name="twitter:image" content="https://assets.routinemagazine.com/img/noira-6.png")
  meta(name="twitter:card" content="summary")

block stageImageMain
  img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/noira-6.png" class="lazyload" alt="Shamar Watt and Nora Chipaumire. Portrait of Myself as My Father. Photo by Julieta Cervantes.")
  p Shamar Watt and Nora Chipaumire. Portrait of Myself as My Father. Photo by Julieta Cervantes, 2016.     
 
block stageText
  p "Est-ce que tout le monde est là?" called out Nora Chipaumire from within a boxing ring to a mid-sized gathering at the Brooklyn Academy of Music’s Fishman Space. The New York premiere of #[i a portrait of myself as my father] ran from September 14-17, 2016 as part of the annual Next Wave Festival.
  p The work, roughly 75 minutes in length, started and ended within the haphazard bounds of a boxing ring. Chipaumire, born in Zimbabwe and residing in Brooklyn, choreographed and performed the piece alongside Senegalese dancer Pape Ibrahima Ndiaye and Jamaican-born dancer Shamar Watt. These three figures&mdash;with Nora in bellowing command of the mic donning football shoulder pads, boxing gloves, and a West African gris-gris (amulet)&mdash;took verbal and combative jabs at and with one another. 
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/noira-2.png" class="lazyload" alt="Pape Ibrahima Ndiaye (Kaolack) and Nora Chipaumire. Photo by Julieta Cervantes.")
    p Pape Ibrahima Ndiaye (Kaolack) and Nora Chipaumire. Photo by Julieta Cervantes, 2016.
  p The opening question, "Est-ce que tout le monde est là?" ("Is everyone there?") reflects the subjective experience of bringing to life the idea of an absent figure. In this case, the performance is the artist’s active means of coming to terms with her estranged father. After having completed other portraits (such as one of the South African singer and activist Miriam Makeba), Chipaumire confronted a personal subject matter and projected it into the public space with #[i portrait]. Her interest in spaces—physical spaces, mental spaces—became inherent with this question, one that suggests she perhaps needed this civic space to grapple with this familial figure decades into her career.
  p Chipaumire held up the "Round One" sign: the fight has begun. Lit by a simple work light, she rounded off a series of rhetorical&mdash;and sometimes assertively interrogative&mdash;questions in a low "male" voice. She remained tethered to the ceiling with a black cord, her "father" tethered to a white cord. What made this unlike a regular boxing match was that the two figures were tethered to one another. Watt, wearing red athletic pants, performed as free agent around the ring, presenting the audience with a less partisan figure. At points between playfulness and aggression, the three dancers traded alternating and synchronous movement, blending dance styles like coupé-décalé with shadow boxing and combat. In a solo segment, Ndiaye slinked low to the floor, growling under harsh work light to proclaim his masculinity. Who is he? And what phantoms had this unseen father figure fought himself?
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/noira-7.png" class="lazyload" alt="Nora Chipaumire. Shamar Watt, Nora Chipaumire, and Pape Ibrahima Ndiaye (Kaolack). Photo by Julieta Cervantes.")
    p Shamar Watt, Nora Chipaumire, and Pape Ibrahima Ndiaye (Kaolack). Photo by Julieta Cervantes, 2016.  
  p A progression of carefully choreographed questions, observations, and movements, #[i a portrait] faced head-on stereotypes of masculinity and black men by integrating sport, oratory, dance, and theater. "The question is: how did I become a black, African man?" Upon prompting herself and her constituents with this question, Chipaumire proceeded to offer a list of steps. During the development of the piece, she met with an ethnomusicologist and a professor of religion to explore the role of politics, culture, and religion in her performative portrait. Despite the handful of stereotypes of black, African males quoted persistently in this portrayal and the absence of a relationship with her father, Chipaumire gave her father "a little bit of a chance to win." Though crossed out, the word is included in work's title, after all.
  p(class="quote") "The question is: how did I become a black, African man?"
  p The performance turned outward acknowledging part of its function as spectacle as the round escalated. At one point, Chipaumire held up another round sign&mdash;not for the expected round two, but for round one again. "What’s your name, champion?" she asked insistently. She prompted the crowd to rally the prime fighter on. Most of the rooting came from a man sitting on the balcony. "What’s your name, champion?"
  .stage__text__image
    img(src="https://assets.routinemagazine.com/img/load.png" data-src="https://assets.routinemagazine.com/img/noira-4.png" class="lazyload" alt="Nora Chipaumire. Photo by Julieta Cervantes.")
    p Nora Chipaumire. Photo by Julieta Cervantes, 2016.
  p The materials complicit in the performance were quotidian, not anything special. Chipaumire as an artist is interested in working with materials that come from the daily experience and do not require privileged access. If work can be made with what’s in front of you and ideas be translated to other spaces, you have something worth delving into. As for the music, the "soundscape" composed by Philip White progressed from integrating the kora and hip hop to electronic music&mdash;a manifold and at times busy medley with the already-heavy match between self and image at the forefront.
  p Chaos ensued nearing the end: the soundscape gave way to frenetic, electronic blips. Watt executed Olympian leaps with inches to spare above the boxing ring bounds, one after the other in quick succession. Eventually his foot began to catch, and the ring crumbled, side by side until the physical barriers no longer existed. Chipaumire stood in the center facing the audience, carrying her father on her back. "Nora, what is this about?" she was asked. "This is a manifesto. A manifesto to end all manifestos," she answered. "I carry my father." In a moment of calm after the storm, she repeated his name&mdash;Barnabas Webster Chipaumire&mdash;in a final, didactic, and even superfluous reckoning. "Is everyone there?" transformed into a new question that remains: when and where does round one end for her? 
  .small
  p(class="place-blurb") This review of Nora Chipaumire's #[i portrait of myself as my father] is from the work's NYC premiere at #[a(href="http://www.bam.org/") BAM], running September 14-17, 2016, as part of the annual #[a(href="http://www.bam.org/programs/2016/next-wave-festival") Next Wave Festival]. Cover photos by Julieta Cervantes.
  hr(class="large")
  

  
  