extends reviews-template
block title
  title Routine Magazine | Black Girls Know How to Have Fun


block navTitle
  h1 Black Girls Know How to Have Fun
block stageTitle
  h1 Black Girls Know How to Have Fun
  p Camile A. Brown's #[span Black Girls: A Linguistic Play]
  p(class="author") by #[span Routine Press] on July 31, 2016
block stageImageMain
  img(src="../../app/dist/img/brown-blackgirl-4.jpg")
  p Jack Ferver. I Want You to Want Me. 2016.     
 
block stageText
  p In the middle of watching television, two black girls get up and begin to dance with the images that flicker across their screen. They are Fana and Beatrice, two dancers in Camille Brown’s company, and their game involves mimicking the movements they apparenty see. In a performance of both indivuality and imitation they cycle through an arrangement of poses and gestures: A stance with a hand above a hip that’s pushes the dancer into a lunge, a movement that brings the arms stretched above the head with open palms to the sky. 
  .stage__text__image
    img(src="../../app/dist/img/brown-blackgirl-9.jpg")
    p Fana and Beatrice, 2016.
  p Building off one another as they try on the moves of the imaginary media personalities, the girls take turns pushing each other in jest, an act of making space for their next movement display. As the game continues, they speed up and clarify a competitive intention. Previous acts of mimicry become desperate self-expression, and previous collaborative play becomes a struggle to claim identity. 
  .stage__text__image
    img(src="../../app/dist/img/brown-blackgirl-8.jpg")
    p Ralph Lemon, Yvonne Under the Sleeping Gypsy, 2014.
  p As an audience, we read the gestures, and become caught up in this cycle of interpreting and incorporating what we see. In centering young black females as the subjects of this "gestural reading" Camille A. Brown’s #[span Black Girl: A Linguistic Play] demonstrates how black girlhood both (incorporates) and generates black social dance. Through three powerful duets #[spanBlack Girl: A Linguistic Play] shows games and friendships functioning as conductive experiences that transmit black social memory.
  p True to Ferver's &#34;gothic camp&#34; aesthetic, this lightness has an edge, with the comedy turning dark and Madame M's vanity turning violent. As we watch as the dancers submit totally to her artistic desires, it becomes apparent that in #[span I Want You to Want Me], choreography acts as a kind of contract that elicits psychophysical obedience. In one such choreographic exchange, Madame M's direction for Carling and Barton to dance together as Adam and Eve causes them to fall in love mid-performance— only to break up in confusion once the music stops.
  .stage__text__image
    img(src="../../app/dist/img/ferver-iwantyoutowantme-7.jpeg")
    p Ralph Lemon, Yvonne Under the Sleeping Gypsy, 2014.
  p(class="quote") &#34;We've just met, I don't fucking know you!&#34;
  p The power-play dynamic between director and dancer comes to a head when Madame M murders Anne via a choreographic decision: She must dance to her death. Anne, rite of spring style, takes to center stage to jete again and again, wide-eyed in her trance, until she collapses into a heap on the floor. 
  p The brilliance of #[span I Want You to Want Me], is how much it achieves. Using humor as a mental sweetener, and ballet as a socio-physical framework that demands total discipline of the body, the work asks, what kind of agency do dancers have, and how have choreographers controlled their fate?  Jack Ferver teases us with an answer as the performance concludes. Standing over the bodies of two ballet dancers, he turns to Reid who musters: &#34;We have fun&#34;. Bass music kicks in, the lights dip to bathe them in red, and together they bounce between different poses, switching directions so that they can alternate between staring us down and checking themselves out in the mirror.
  .stage__text__image
    img(src="../../app/dist/img/ferver-iwantyoutowantme-4.jpeg")
    p Ralph Lemon, Yvonne Under the Sleeping Gypsy, 2014.