doctype html
html
  head
    block title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='../development/scripts/script.js')
    link(rel='stylesheet', href='../assets/css/styles.css')
  body(class="body-review")
    .brand-title
      a(href="../index.html") R
      a(href="../index.html" class="outine") outine
    .brand-nav 
      block navTitle
    .stage
      .stage__text
        .stage__text__title
          block stageTitle
        .stage__text__image--main
          block stageImageMain
        block stageText
    .footer 
      .row
        .column
          p Routine Magazine is an online space for writing on dance and performance. Routine's primary initiative is to promote documentation and criticism that supports the creation, practice and education of dance. 
          p Inquire to submit. 
          p Contact at #[span hello@routinemagazine.com]
        a(name="about" class="brand-footer") R
      .row
        p 2016 &#169; Routine Magazine