extends reviews-template
block title
  title Routine Magazine | Dust to Dust, a Moving History

block navTitle
  h1 Dust to Dust, a Moving History 
 
block stageTitle 
  h1 Dust to Dust, a Moving History
  p Yvonne Rainer's #[span The Concept of Dust - Altered Annually]
  p(class="author") by #[span Routine Press] on June 12, 2016
block stageImageMain
  img(src="../assets/images/rainer-conceptofdust-1.jpg")
  p Yvonne Rainer. The Concept of Dust, or How do you look when there's nothing left to move? 2015.     
 
block stageText
  p The piece opens with an announcement: Pat Catterson, the oldest dancer in Yvonne's troupe, is #[span dead].
  p In the intimate black box space at the Kitchen, the audience gasps as a unit. At the tailend of our sigh, a scream is let out that turns all heads towards a particularly loud and immediate griever. Not only is Pat Catterson alive, she is offended. Before the audience can recover from the emotional whiplash, Pat begins tap dancing while talking about life and death&#8212; and how dance has functioned as a distinction between the two.  
  p Between shuffles she gives a brief overview of the dark origins of tap, explaining the how form was originally a kind of physical technique used by enslaved Africans to entertain their captors during the dehumanizing journey known to history as the middle passage. This &#34;entertainment&#34; was loaded&#8212; as the refusal or inability to perform could result in the enslaved person's abuse or murder.#[sup 1] Pat briefly mentions how this cruelty incentivized the Africans to perform, and that in performing compliance they were able to negotiate their survival, and be valued as capital. Following the shocking news of her death, this performative lecture takes a position on the value and precarity of life.
  p(class="quote") &#34;It is easier to imagine the end of the world than to imagine the end of capitalism&#34;
  p The idea of "value" as a measure of percieved importance was embedded in the creation of #[span The Concept of Dust.] This latest performance was a second iteration, the first taking place last year at the Getty and MoMA respectively, and were connected to a group of semi-private talks organized by Ralph Lemon and others at the Museum of Modern Art, that discussed relationships between value and performance. #[sup 2]
  p In dialogue with these #[span Value Talks], Yvonne's contribution was a performance proposal. She would sleep beneath her favorite painting, #[span The Sleeping Gypsy] by Rousseau and provide a text that would prompt spectators to consider how the contrasting elements of such a scene&#8212; a live, sleeping body, and a famous painting, are valued.
  .stage__text__image
    img(src="../assets/images/rainer-conceptofdust-3.jpg")
    p Ralph Lemon, Yvonne Under the Sleeping Gypsy, 2014.
  p This proposal was eventually rejected by the MoMa. In an essay titled #[span The Value of &#34;The Big Snooze&#34; and other contingent matters], Yvonne explains how the museum was concerned for the proposal's striking similarity to other performance art pieces that were running concurrently.#[sup 3] Yvonne considers the irony of an art market saturated with artists sleeping &#34;performatively&#34; in museums. An adjacent concern was how a similar work by Tilda Swanson was &#34;misread&#34; for its voyeuristic appeal. Yvonne, in an effort not to be under/over/mis valued, concedes not to sleep under the painting.
  .stage__text__image
    img(src="../assets/images/rainer-conceptofdust-4.jpg")
    p Tilda Swinton's "The Maybe" at the MoMA, 2013
  p(class="quote") &#34;It is better to have loved and lost than to put linoleum on your living room floor&#34;.
  p These value calls, the relationship between dance and the art market, as well as Yvonne's privileged super-position as both a “dancer's dancer” and an icon of performance art to be forever etched into the art historical canon&#8212; are on my mind as Yvonne and her dancers walk out into black box space.
  p It's been 50 years since #[span Trio A], but it's like I am re-experiencing a memory that I created out of source materials from academic performance journals. The dancers walk &#34;authentically&#34;, perform &#34;non-performance&#34; under un-theatrical lighting, and they wear street clothes, sneakers. They walk, bend, stretch outwards with a leading arm, and shift weight. Their movements are like #[span Trio A] in sense that nothing is articulated to give it more importance than any other movement. I am reminded of the popular association of &#34;pedestrian movement&#34; with Yvonne Rainer&#8212; it is not because she walks and insists that this is dance, but because she dances with a flat smoothness that reminds us of the functional rhythms of walking.
  .stage__text__image
    iframe(src="https://www.youtube.com/embed/TDHy_nh2Cno")
  p After Pat's solo lecture, all the dancers begin to move as a flock. flock in unison. They shift smoothly between different movement styles, and I see flashes of iconic movement phrases: Michael Jackson's &#34;Beat It&#34;, the tense right angles of Martha Graham, the full-bodied geometry of Merce Cunningham, some Charlie Chaplin miming humor, and balletic allegros that take the dancers across the stage in a sweeping diagonal cross. These persistent movement histories, removed from their original contexts, are made alive again to be reconsidered in this space. It occurs to me how bodies are uniquely adept at carrying (choreographic references), and allowing for their valuation to persist.
  p(class="quote") &#34;The past is never dead, its not even past. Sometimes it reaches up and grabs you by the throat.&#34;
  p Seated in a chair that is positioned by the left wall of the performance space, Yvonne watches the dancers with us. She eventually walks into the space and interrupts one of the their movements to hand them a script and a mic. The dancer begins to read a short history of ancient Mideast dynasties that connects the rise and fall of the Islamic empire. The dancers devolve into their own separate movements that react to the different vocalizations of text, as Yvonne continues to intermittently pass the mic around the space and have fragments of language performed.
  p These fragments of text range widely in tone. Wry aphorisms, pieces of conversations, descriptions of histories, and colorful personal experiences. Yvonne moves from musing about a conversation with someone regarding &#34;the blind spot of ideology&#34;, to having a dancer decry &#34;religion and masturbation are alike in one regard. Both are .&#34;  Meanwhile the dancers move around the space, performing the same choreographic vocabulary from before. Now however, they are performing choreography &#34;at will&#34;, which are using the previous choreographic structure to choose how to move. I imagine that, like us, they are listening to the textual histories, theoretical musings, and cynical jokes, and letting the ideas wash over them, let them generate physical decisions. 
  p This random, aleatory method of combining dance and sound is often brought up in relation to the &#34;chance choreographies&#34; of John Cage ands Merce Cunningham- but in this case, the added component of the dancer's freedom to choose from a repository of set movement, allows them to act with the agency of choreographers. 