extends index-template 
block title    
  title Routine Magazine    
  
block stageItems   
  .stage__item 
    h6 review#[span &#42;] 
    a(href="reviews/theconceptofdust.html" class="row")
      img(src='app/dist/img/rainer-conceptofdust.jpg' class="first")
      img(src='app/dist/img/rainer-conceptofdust-6.jpg' class="middle")
      img(src='app/dist/img/rainer-conceptofdust-8.jpg' class="last")
    a(href="reviews/theconceptofdust.html")
      h1 Yvonne Rainer's #[span The Concept of Dust]
    h5 Review by Maria Chounard: #[span &#34;]In the face of death, Yvonne continues to peform#[span &#34;]
  .stage__item
    h6 review#[span &#42;]
    a(href="reviews/iwantyoutowantme.html" class="row")
      img(src='app/dist/img/ferver-iwantyoutowantme.jpg' class="first")
      img(src='app/dist/img/ferver-iwantyoutowantme-2.jpg' class="middle")
      img(src='assets/images/ferver-iwantyoutowantme-5.jpg' class="last")
    a(href="reviews/iwantyoutowantme.html")
      h1 Jack Ferver's #[span I Want You To Want Me]
    h5 Review by Maria Chounard: #[span &#34;]In the face of death, Yvonne continues to peform#[span &#34;]
  .stage__item  
    h6 review#[span &#42;]
    a(href="reviews/blackgirllinguisticplay.html" class="row")
      img(src='app/dist/img/brown-blackgirl-1.jpg' class="first")
      img(src='app/dist/img/brown-blackgirl-2.jpg' class="middle")
      img(src='app/dist/img/brown-blackgirl-3.jpg' class="last")
    a(href="")
      h1 Camille A Brown's #[span Black Girl: A Linguistic Play]
    h5 Review by Maria Chounard: #[span &#34;]In the face of death, Yvonne continues to peform#[span &#34;]       