doctype html 
html  
  head
    block title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='app/src/scripts/script.js')
    link(rel='stylesheet', href='app/dist/css/styles.css')
  body
    a(href="index.html" class="brand-title") Routine
    .brand-nav
      a(href="#about") about 
    .stage
      block stageItems
    .footer
      .row
        .column
          p Routine Magazine is an online space for writing on dance and performance. Routine's primary initiative is to promote documentation and criticism that supports the creation, practice and education of dance. 
          p Inquire to submit. 
          p Contact at #[span hello@routinemagazine.com]
        a(name="about" class="brand-footer") R
      .row
        p 2016 &#169; Routine Magazine  
          
                  